body,
h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.k-drawer-container.k-drawer-push {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    overflow-y: scroll;

    .k-drawer {
        position: sticky;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        border-right-width: 0 !important;
    }
    .k-drawer-item {
        user-select: none;

        &:not(.k-drawer-separator) {
            padding: 16px 8px;
        }

        .k-icon {
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            background-color: #656565;
            width: 20px;

            &.dashboard-icon {
                -webkit-mask-image: url('./../assets/dashboard-icon.svg');
                mask-image: url('./../assets/dashboard-icon.svg');
                margin-top: 3px;
                margin-left: 7px;
                
            }
            &.planning-icon {
                -webkit-mask-image: url('./../assets/planning-icon.svg');
                mask-image: url('./../assets/planning-icon.svg');
            }
            &.profile-icon {
                -webkit-mask-image: url('./../assets/profile-icon.svg');
                mask-image: url('./../assets/profile-icon.svg');
            }
            &.info-icon {
                -webkit-mask-image: url('./../assets/info-icon.svg');
                mask-image: url('./../assets/info-icon.svg');
            }
        }
    
        &.k-state-selected .k-icon {
            &.dashboard-icon,
            &.planning-icon,
            &.profile-icon,
            &.info-icon {
                background-color: #ffffff;
            }
        }
    }
}

.header {
    height: 80px;
    
    .nav-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        color: $white;
    }
    .menu-button {
        flex: 0 0 50px;
        text-align: center;
    }
    .hamburger-icon {
        background-image:  url('./../assets/hamburger-icon.svg');
        background-repeat: no-repeat;
        width: 20px;
    }
    .title {
        display: flex;
        flex: 1 0 auto;
        margin-left: 25px;
    }
    .vl {
        border-left: 1px solid $white;
        height: 25px;
        margin: 6px 15px;
    }
    .settings {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
    }
    .k-avatar {
        width: 40px;
        height: 40px;
        margin: 0 25px;
        border: 1px solid white;

        img {
            width: 40px;
            height: 40px;
        }
    }
    .k-dropdown {
        max-width: 70px;
        margin-left: 15px;
    }
}

.card-container {
    background-color: $white;
    border-radius: 5px;
    margin: 25px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 1em;

    .card-buttons {
        text-align: center;

        .k-button {
            width: 105px;
        }
    }

    .card-ranges {
        text-align: right;

        .k-daterangepicker {
            .k-textbox-container, .k-floating-label-container {
                padding-top: 0; 
            }

            .k-label {
                display: none;;
            }
        }
    }

    .card-component {
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

.info-page {
    background-color: $info-background;
    color: $white;

    h1, h2, h3, .component-link {
        font-family: Metric,Helvetica,Arial,sans-serif;
    }
    a {
        color: $link-color;
    }

    .kendoka {
        position: absolute;
        right: 5em;
        top: 2em;

        img {
            max-width: 348px;
        }
    }

    .container {
        padding: 120px 145px 0;
        position: relative;
    }

    h1 {
        font-size: 71px;
        font-weight: bold;
        color: $react-color;
    }

    h2 {
        font-size: 38px;
        margin-bottom: 53px;
    }

    .button-group {
        margin-bottom: 30px;

        .k-button {
            width: 145px;
            margin-right: 10px;
        }
    }

    .github-link {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        align-content: center;

        .github-text {
            margin-left: 15px;
        }
    }

    .footer {
        background-image: url('../assets/info-background.svg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 320px;
    }

    .section-3 {
        -webkit-columns: 2;
        column-count: 2;
        margin-top: 40px;
    }

    @media (min-width: 360px) {
        .section-3 {
            -webkit-columns: 3;
            column-count: 3;
        }
    }

    @media (min-width: 768px) {
        .section-3 {
            -webkit-columns: 4;
            column-count: 4;
        }
    }

    .package-item {
        display: inline-block;
        margin-top: 20px;
    }

    .package-title a {
        font-size: 17px;
        color: #CCCCCC;
        text-transform: uppercase;
    }

    .component-link {
        padding: 5px 0;
        
        a {
            font-size: 20px;
        }
    }
}
